[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/m-extensions"]
	path = lib/m-extensions
	url = https://github.com/m0-foundation/evm-m-extensions.git
